[build]
  publish = "."

[[headers]]
  for = "/*"
  [headers.values]
    Access-Control-Allow-Origin = "*"
    Cache-Control = "public, max-age=300"

[[headers]]
  for = "/data/*"
  [headers.values]
    Content-Type = "application/json"
    Cache-Control = "public, max-age=60"
